title=Home
date=2017-09-03
type=page
tags=devlug
status=published
~~~~~~

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>
Herzlich Willkommen auf der Homepage der virtuellen Linux User Group.
	<img src="img/logos/vlug-only.png" width="100px"/>
  </p>
  <a class="btn btn-primary btn-lg" href="about.html" role="button">Über uns</a></p>
</div>


<div class="alert alert-success" role="alert">
Die wichtigste Kommunikation läuft über unsere
  <a href="https://www.devlug.de/devlug/mailinglisten.html" class="alert-link">Mailinglisten</a>.
</div>

<div class="alert alert-info" role="alert">
  Der nächste
  <a href="https://www.devlug.de/devlug/stammtisch.html" class="alert-link">Stammtisch</a>
  ist am Donnerstag, 09.08.2018 um 19:00 Uhr.
</div>

<div class="alert alert-danger" role="alert">Nächste devLUG-Session: taskwarrior und timewarrior</div>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
    devLUG-Sprint 2018-06
  </div>
</div>

<img src="img/devLUG-Titelbild.JPG" width="800px"/>


