@font-face {
    font-family: OrbitronBold;
    src: url(../fonts/orbitron-bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: OrbitronMedium;
    src: url(../fonts/orbitron-medium.otf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-Regular.otf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

ul {
  margin-top: 1.25rem;
}

li {
  color: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, .label, .top-bar-section ul li > a {
    font-family: OpenSans;
}

.top-bar-section ul li > a {
    line-height: 39px;
}

pre > code {
    font-family: SourceCodePro;
}

header time {
    color: #6F6F6F;
    line-height: 0;
}

header hr {
    margin-top: 0.5em;
}

a.label {
    font-size: 0.8em;
}

a.label:hover {
    color: #abd1f8;
}

.wrap {
    border: solid 1px #d8d8d8;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background-color: #fafafa;
    color: #333333;
}

article.wrap {
    margin-bottom: 5px;
}

.row, .contain-to-grid .top-bar {
    max-width: 80rem;
}

.termin {
    width: 60px;
    height: 60px;
    background-color: #428bca;
    text-align: center;
    padding: 1px;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    margin-top: 5px;
}

.month {
    font-size: 9pt;
    font-weight: bold;
    line-height: 1.2;
    color: snow;
    margin: 0;
    padding: 2px 0 3px 0 ;
}

.date {
    font-size: 12pt;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 2px;
    background-color: #eeeeee;
}

.year {
    font-size: 8pt;
    line-height: 1;
    background-color: #eeeeee;
}

.badge {
    border-radius: 2px;
    background-color: #bcbcbc;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}


.title-box {
    background: #428bca;
    background-size: cover;
}

.title-contact {
    font-size: 3em;
}

.title-contact a {
    color: snow;
}

.title-contact a:hover {
    color: #e8e8e8;
}

.title-content {

    padding: 60px 0px;
    background: rgba(255,255,255,.2);
}

.title-content h1 {
    font-family: OrbitronBold;
    color: snow;
}

.title-content p {
    font-family: OrbitronMedium;
    color: #e8e8e8;
}

.listingblock pre:not(.highlight) {
    background-color: #b3b3b3;
}

.label {
    margin: 0px 2px;
}

.badge {
    margin-left: 3px;
}

.taglist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.taglist li > a, .archivepost {
  font-size: 18px;
  font-weight: bold;
}

.taglist li > span {
  font-size: 10px;
  font-family: monospace;
}

.archivepost > span {
  font-size: 10px;
  font-family: monospace;
  font-weight: normal;
}
